<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>NIVEL 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class= "next">
    <p>
      {{_minutos2}}:{{_segundos2}}.{{_centesimas2}}
    </p>
  </div>
  <div class ="previous"> 
      <ion-button size="large" color="success" (click)="presentAlerta()">AYUDA</ion-button>
  </div>

  <div align="center">
  <div *ngFor="let datos of data" class="box" appDroppable (dragStart)="cajaMover = datos">
    <div id="{{datos.id}}" [ngStyle]="{'width': datos.tam, 
          'height':datos.tam,'background-image': 'url('+datos.urlIm+')', 'background-position':datos.pos}"></div>
    <div class="box box-helper" *appDraggableHelper>
      <div id="{{datos.id}}" [ngStyle]="{'width': datos.tam, 
        'height':datos.tam,'background-image': 'url('+datos.urlIm+')', 'background-position':datos.pos}"></div>
    </div>
  </div>
  </div>
  <!-- Empieza matriz para arrastrar objetos -->
  <table align="center">
    <tr>
      <td>
        <div class="box-list" appDropzone (drop)="move0(cajaMover, data2)" (remove)="move0(cajaMover, data)">
          <div *ngFor="let datos of data2" class="box-list" appDroppable (dragStart)="cajaMover = datos">
            <div id="{{datos.id}}" [ngStyle]="{'width': datos.tam, 
                'height':datos.tam,'background-image': 'url('+datos.urlIm+')', 'background-position':datos.pos}"></div>
          </div>
        </div>
      </td>
      <td>
        <div class="box-list" appDropzone (drop)="move1(cajaMover, data3)" (remove)="move1(cajaMover, data)">
          <div *ngFor="let datos of data3" class="box-list" appDroppable (dragStart)="cajaMover = datos">
            <div id="{{datos.id}}" [ngStyle]="{'width': datos.tam, 
                'height':datos.tam,'background-image': 'url('+datos.urlIm+')', 'background-position':datos.pos}"></div>
          </div>
        </div>
      </td>
      <td>
        <div class="box-list" appDropzone (drop)="move2(cajaMover, data4)" (remove)="move2(cajaMover, data)">
          <div *ngFor="let datos of data4" class="box-list" appDroppable (dragStart)="cajaMover = datos">
            <div id="{{datos.id}}" [ngStyle]="{'width': datos.tam, 
                'height':datos.tam,'background-image': 'url('+datos.urlIm+')', 'background-position':datos.pos}"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="box-list" appDropzone (drop)="move3(cajaMover, data5)" (remove)="move3(cajaMover, data)">
          <div *ngFor="let datos of data5" class="box-list" appDroppable (dragStart)="cajaMover = datos">
            <div id="{{datos.id}}" [ngStyle]="{'width': datos.tam, 
                'height':datos.tam,'background-image': 'url('+datos.urlIm+')', 'background-position':datos.pos}"></div>
          </div>
        </div>
      </td>
      <td>
        <div class="box-list" appDropzone (drop)="move4(cajaMover, data6)" (remove)="move4(cajaMover, data)">
          <div *ngFor="let datos of data6" class="box-list" appDroppable (dragStart)="cajaMover = datos">
            <div id="{{datos.id}}" [ngStyle]="{'width': datos.tam, 
                'height':datos.tam,'background-image': 'url('+datos.urlIm+')', 'background-position':datos.pos}"></div>
          </div>
        </div>
      </td>
      <td>
        <div class="box-list" appDropzone (drop)="move5(cajaMover, data7)" (remove)="move5(cajaMover, data)">
          <div *ngFor="let datos of data7" class="box-list" appDroppable (dragStart)="cajaMover = datos">
            <div id="{{datos.id}}" [ngStyle]="{'width': datos.tam, 
                'height':datos.tam,'background-image': 'url('+datos.urlIm+')', 'background-position':datos.pos}"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="box-list" appDropzone (drop)="move6(cajaMover, data8)" (remove)="move6(cajaMover, data)">
          <div *ngFor="let datos of data8" class="box-list" appDroppable (dragStart)="cajaMover = datos">
            <div id="{{datos.id}}" [ngStyle]="{'width': datos.tam, 
                'height':datos.tam,'background-image': 'url('+datos.urlIm+')', 'background-position':datos.pos}"></div>
          </div>
        </div>
      </td>
      <td>
        <div class="box-list" appDropzone (drop)="move7(cajaMover, data9)" (remove)="move7(cajaMover, data)">
          <div *ngFor="let datos of data9" class="box-list" appDroppable (dragStart)="cajaMover = datos">
            <div id="{{datos.id}}" [ngStyle]="{'width': datos.tam, 
                'height':datos.tam,'background-image': 'url('+datos.urlIm+')', 'background-position':datos.pos}"></div>
          </div>
        </div>
      </td>
      <td>
        <div class="box-list" appDropzone (drop)="move8(cajaMover, data10)" (remove)="move8(cajaMover, data)">
          <div *ngFor="let datos of data10" class="box-list" appDroppable (dragStart)="cajaMover = datos">
            <div id="{{datos.id}}" [ngStyle]="{'width': datos.tam, 
                'height':datos.tam,'background-image': 'url('+datos.urlIm+')', 'background-position':datos.pos}"></div>
          </div>
        </div>
      </td>
    </tr>
  
</table>
  <div class="centrado">
    <div *ngIf="estadoPuzzle==false"><ion-button size="large" color="success" (click)="estaResuelto()">TERMINAR INTENTO</ion-button></div>
    <div *ngIf="estadoPuzzle==true"><ion-button size="large" color="success" routerLink = "/familiares">TERMINAR INTENTO</ion-button></div>
    </div>
</ion-content>
