//Coloca la imagen de fondo
ion-content.bg-img{
    --ion-background-color: #6fc2d3;
    //--background: url(../../assets/imagenes/fondo.jpg) 0 0/100% 100% no-repeat;
}
.btn-inicio{
    font-size: 30px;
    left: 5;
    right: 20;
}
.txt-inicio{
    align-content: center
}

